<template>
  <div id="app">

    <v-app id="main">
      <h1>Monitoring service</h1>
      <v-form v-model="valid">
        <v-container>
          <v-row>
            <v-col
                    cols="12"
                    md="2"
            >
              <v-text-field
                      v-model="serviceId"

                      @keydown.enter="getOutages(this.serviceId, this.startTime, this.duration, this.endTime)"
                      label="Service ID"
              ></v-text-field>
            </v-col>
            <v-col
                    cols="12"
                    md="3"
            >
              <v-text-field
                      v-model="startTime"
                      :hint="dateFormat"
                      @keydown.enter="getOutages(this.serviceId, this.startTime, this.duration, this.endTime)"
                      label="Start time"
                      required
              ></v-text-field>
            </v-col>

            <v-col
                    cols="12"
                    md="2"
            >
              <v-text-field
                      class="input"
                      v-model="duration"
                      :rules="nameRules"
                      @keydown.enter="getOutages(this.serviceId, this.startTime, this.duration, this.endTime)"
                      label="Duration"
              ></v-text-field>
            </v-col>

            <v-col
                    cols="12"
                    md="3"
            >
              <v-text-field
                      v-model="endTime"
                      :hint="dateFormat"
                      @keydown.enter="getOutages(this.serviceId, this.startTime, this.duration, this.endTime)"
                      label="End time"
              ></v-text-field>
            </v-col>
            <v-col
                    cols="12"
                    md="2"
            >
             <v-btn class="btn" bottom outlined @click="addOutage">
               Add
             </v-btn>
              <v-btn class="btn" outlined @click="getOutages">
                Get
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-card>
        <v-card-title>
          Currently down
          <v-spacer></v-spacer>
          <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
                  color="#FFF9C4"
                  :search="search"
                  :headers="headers"
                  :items="this.outages.resultCurrent">
          <template v-slot:top>
            <v-switch v-model="showRecent" :label="showRecent ? 'Show Recent':'Hide Recent'" class="pa-3"></v-switch>
          </template>
        </v-data-table>
          <v-card v-if="showRecent" >
            <v-card-title> Recently down </v-card-title>
            <v-data-table
                    :search="search"
                    :headers="headers"
                    :items="this.outages.resultRecent">

            </v-data-table>
          </v-card>
      </v-card>

      <v-alert type="error"
               class="alert"
               v-model="showAlert"
               absolute
               transition="slide-y-transition"
               dismissible>
        {{alertMessage}}
      </v-alert>

    </v-app>


  </div>
</template>

<script>


export default {
  name: 'App',
  components: {},
  data() {
    return {
      search: "",
      serviceId: "",
      startTime: "",
      duration:"",
      endTime: "",
      dateFormat: "YYYY-MM-dd HH:mm:ss",
      outages: [],
      showRecent:true,
      nameRules:[],
      alertMessage:'',
      showAlert: false,

      headers: [
        {
          text: "Service ID",
          align: "start",
          sortable: true,
          value : "service_id"
        },

        { text: "Start time", value: "startTime"},
        { text: "Duration", value: "duration"},

      ]
    }
  },
  methods:{
    getOutages() {
      let serviceId = this.serviceId
      let duration = this.duration
      let endTime = this.endTime
      if(serviceId === null || serviceId === "") {
        serviceId = 0
      }
      if(duration === null || duration === "") {
        duration = 0
      }
      if (endTime === null || endTime === "") {
        endTime = "empty"
      }

      this.$http.get("/outages",{
        params: {
          service_id: serviceId,
          startTime: this.startTime,
          duration: duration,
          endTime: endTime
        }
      }).then((response) => {
          this.outages = response.data
      }).catch((error) => {
        this.showAlert = true
        let key = Object.keys(error.response.data.errors)[0]
        this.alertMessage = error.response.data.errors[key]
      })
    },
    addOutage() {
      this.$http.post("/create", {
        outageService:
                {
                  service_id: this.serviceId,
                  duration: this.duration,
                  startTime: this.startTime
                }}).catch((error) => {
        this.showAlert = true
        let key = Object.keys(error.response.data.errors)[0]
        this.alertMessage = error.response.data.errors[key]
      })
    }
  }
}
</script>

<style lang="scss">
  @import "styles/clr.scss";
  @import "styles/customProperties.sass";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
  #main {
    margin:10px 250px 10px 250px;
  }
  .btn {
    margin-left: 2px;
    margin-top: 15px;
    width: 49%;
  }
  .alert{
    width: 40%;
    position: fixed!important;
    bottom: 0px;
    right:0px
  }

</style>
